<p>activity-form works!</p>
<main>
  <h1>{{ isEditMode() ? 'Editar actividad' : 'Nueva actividad' }}</h1>

  <form [formGroup]="activityForm" (ngSubmit)="onSubmit()">
    <section>
      <label for="inputTitle">Título: </label>
      <input type="text" formControlName="title" placeholder="Título" name="inputTitle">
      <label for="inputCategory">Categoría: </label>
      <select formControlName="category" name="inputCategory">
        @for (category of categories; track category) {
          <option [value]="category">{{ category }}</option>
        }
      </select>
      <label for="inputStartTime">Inicio: </label>
      <input type="datetime-local" formControlName="start_time" placeholder="Inicio" name="inputStartTime">
      <label for="inputEndTime">Inicio: </label>
      <input type="datetime-local" formControlName="end_time" placeholder="Fin" name="inputEndTime">
      <label for="inputCost">Inicio: </label>
      <input type="number" formControlName="cost" placeholder="Coste" name="inputCost">
      <label for="inputUserNotes">Título: </label>
      <textarea type="text" formControlName="user_notes" placeholder="Notas" name="inputUserNotes"></textarea>
      <label for="inputLocation">Ubicación: </label>
      <select formControlName="location_id" name="inputLocation">
        @for (location of locations(); track location.id) {
          <option [value]="location.id">{{ location.name }}</option>
        }
      </select>
    </section>

    <section>
      <button type="button" (click)="goBack()">Cancelar</button>
      <button type="button" [disabled]="activityForm.invalid">
        {{ isEditMode() ? 'Guardar cambios' : 'Crear actividad' }}
      </button>
    </section>
  </form>
</main>
