/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import "tailwindcss";
.leaflet-pane,
.leaflet-top,
.leaflet-bottom {
  z-index: 0 !important;
}

.leaflet-control {
  z-index: 0 !important;
}

.snackbar-error {
  background-color: #f44336 !important;
  color: white !important;
}

.snackbar-success {
  background-color: #4caf50 !important;
  color: white !important;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  scrollbar-gutter: stable;
}

html, body {
  overflow-x: hidden;
}
